<ons-page id="Detail">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <p style="text-align: center;">
        <img src="img/1.jpg" width="188" height="275">
    </p>
    <p style="text-align: center;">
        Mulan
    </p>
    <p style="text-align: center;">
        เธอถูกทดสอบในทุกย่างก้าวและต้องรวบรวมความเข้มแข็งภายในตัวของเธอและน้อมรับศักยภาพที่แท้จริงของเธอ
        มันคือมหากาพย์การผจญภัยที่จะเปลี่ยนเธอสู่นักรบผู้ทรงเกียรติและเป็นที่ยอมรับนับถือจากคนในชาติและพ่อที่ภูมิใจ
    </p>
    <p style="text-align: center;">
        <ons-tab icon="md-play" play>
        </ons-tab>
    </p>
</ons-page>