<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/1.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><b>Mulan</B><br>
        เธอถูกทดสอบในทุกย่างก้าวและต้องรวบรวมความเข้มแข็งภายในตัวของเธอและน้อมรับศักยภาพที่แท้จริงของเธอ
        มันคือมหากาพย์การผจญภัยที่จะเปลี่ยนเธอสู่นักรบผู้ทรงเกียรติ
        <br><br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/2.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><br><br><b>Peninsula</B><br>4 ปีให้หลังจากขบวนรถไฟนรก
        เชื้อซอมบี้ระบาดกวาดล้างประเทศ วิปโยคไปทั้งคาบสมุทรเกาหลี
        จนกลายเป็นดินแดนรกร้างที่เต็มไปด้วยฝูงซอมบี้กระหายเลือด
        <br><br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/3.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><b>The
            Call of the Wild</B><br>เรื่องราวของ บั๊ค
        สุนัขใจดีที่ชีวิตในเมืองอันสงบสุขของเขาพลิกผันจากหน้ามือเป็นหลังมือ
        เมื่อเขาต้องย้ายถิ่นฐานจากบ้านในแคลิฟอร์เนียอย่างกระทันหัน
        <br><br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
    </p>
</ons-page>